
        Body {
            background-color: #8B9A72;
            text-align: center;
        }

        h1 {
            color: #4c412a
        }

        p {
            color: #61543B
        }

        ul {
            color: #61543B;
            text-align: center;
        }
